{% extends 'base.html.twig' %}
{% block body %}
	<button type='button'>Requisição de teste</button>
{% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            if (document.querySelector('button')) {
                const btn = document.querySelector('button');
                btn.addEventListener('click', () => {
                    fetch('https://jsonplaceholder.typicode.com/todos/1')
                    .then(response => response.json())
                    .then(json => console.log(json))
                })
            }
        })
    </script>
{% endblock %}
