{% extends 'base.html.twig' %}
{% block body %}
	<form method="POST" action="{{ path('create-task') }}">
		<div class="input-group mb-3">
			<input type="text" class="form-control">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="submit">Adicionar tarefa</button>
			</div>
		</div>
	</form>
{% endblock %}
